
{% block title %}

<title>USUARIO-XPENNG</title>

{% endblock %}


{% extends 'base.html' %}

{% block contenido %}
    
<header class="navbar navbar-dark sticky-top  bg-primary flex-md-nowrap p-0 shadow ">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 bg-primary" href="/Dashboard">DASHBOARD-XPENNG</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="navbar-nav ">
    <div class="nav-item text-nowrap  bg-primary">
      <a class="nav-link px-3  bg-primary" href="/">Salir</a>
    </div>
  </div>
</header>



<div class="container-fluid">
  <div class="row">
   
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">



  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
        Usuario
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne" >
      <div class="accordion-body">

        <a class="nav-link active" aria-current="page" href="/Dashboard/UsuarioSuper">Crear Usuarios</a>
        <a class="nav-link active" aria-current="page" href="/Dashboard/UsuarioAdmin">Gestionar Usuarios</a>
      
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Producto
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">

        <a class="nav-link active" aria-current="page" href="/Dashboard/ProductoAdmin">Crear Productos</a>
        <a class="nav-link active" aria-current="page" href="/Dashboard/ProductoUsuario">Gestionar Productos</a>
      
      </div>
    </div>
  </div>

  
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Proveedor
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">

        <a class="nav-link active" aria-current="page" href="/Dashboard/ProveedorAdmin">Crear Proveedor</a>
        <a class="nav-link active" aria-current="page" href="/Dashboard/ProveedorEmpleado">Buscar Proveedor</a>
      
      </div>
    </div>
  </div>

    </nav>


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <center>
      
       
   
      <h1 class="display-3">MODULO USUARIO</h1>  

      <img src="{{ url_for('static', filename='img/grupo-de-usuarios.png') }}" width="200" alt="Aqui va una imagen">  
      
           
        

        <form  name="formRegister"  action="{{ url_for('usuario_super') }}"  method="post" onsubmit="">  

          <div class="row">
                  <div class="col" > 
                    <input class="form-control me-sm-2" type="text" placeholder="Nombre" name="usuario" id="usuario">
                    
                  </div>

                  <div class="col">
                    
                    <input class="form-control me-sm-2" type="text" placeholder="Contraseña" name="password" id="password">  
                  </div>

                  <div class="col">
                    
                    <input class="form-control me-sm-2" type="text" placeholder="Rol" name="rol"  id="rol">          
                  </div>

                  <div class="col">
                  
                    <button class="btn btn-secondary my-2 my-sm-0 form-control me-sm-2" type="submit">Crear</button>
                  </div>

              

                      {% with messages = get_flashed_messages() %}
                      {% if messages %}
                          <ul class=flashes>
                              {% for message in messages %}

                              <script>
                                  window.alert('{{ message }}')                                                        
                              </script>
                                
                              {% endfor %}
                          </ul>
                      {% endif %}
                  {% endwith %}

          </form>

        </div>
      


        <br>






     
      <div class="table-responsive">
 
        <form class="d-flex" action="{{ url_for('consulta_super') }}" method="post" onsubmit="">
          <input class="form-control me-sm-2" type="text" placeholder="Buscar" name="usuario" id="usuario">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
        </form>      

        <br>
    

        <table class="table table-hover">
          <thead>
            <tr>
              <th class="table-primary" scope="col">Id</th>
              <th class="table-primary" scope="col">Nombre</th>
              <th class="table-primary"  scope="col">Contraseña</th>
              <th class="table-primary"  scope="col">Rol</th>  
              <th class="table-primary"  scope="col">Editar</th>  
              <th class="table-primary" scope="col">Eliminar</th>              
            </tr>
          </thead>


          <tbody>s
            <tr class="table-active"></tr>
              {% for usu in usuarios %}
              
                <th  scope="row">{% print(usu[0]) %}</th>
                <td >{% print(usu[1]) %}</td>
                <td >{% print(usu[2]) %}</td>
                <td >{% print(usu[3]) %}</td>
                <td > <a href="#" onclick="editarUsuario('{{usu[1]}}')">Editar</a>   </td>
                <td > <a href="#" onclick="eliminarUsuario('{{usu[1]}}')">Eliminar</a>   </td>
              </tr>
              {% endfor %}                   
          
          </tbody>
        </table>    
    
    </center>

  </div>
    </main>
  </div>
</div>


{% endblock %}


